<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Adam Szulist">
        <title>{% block title %}Chat application{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '../node_modules/bootstrap/dist/css/bootstrap.min.css'
            '@ChatBundle/Resources/public/css/style.css'
            output='css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}

            {% javascripts
            '../node_modules/jquery/dist/jquery.min.js'
            '../node_modules/bootstrap/dist/js/bootstrap.min.js'
            '@ChatBundle/Resources/public/js/script.js'
            'bundles/fosjsrouting/js/router.js'
            output='js/app.js' %}
            <script src="{{ asset_url }}"></script>

            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
