<div class="row message-bubble">
    <div class="col-md-12">
        <div class="col-md-8">
            <p class="text-muted">{{ message.user.nick }}</p>
        </div>
        <div class="col-md-4">
            <p class="text-muted">{{ message.dateAdded | date }}</p>
        </div>
        <span>{{ message.content }}</span>
        {% if isModerator and message.status == 0 %}
            <div class="btn-group btn-group-justified">
                <a onclick="acceptMessage({{ message.id }});" class="btn btn-primary">Accept</a>
                <a onclick="rejectMessage({{ message.id }});" class="btn btn-danger">Reject</a>
            </div>
        {% elseif user == message.user and isNormalUser %}
            <div class="col-md-12 text-center">
            {% if message.status == 0 %}
                <p class="text-muted">Waiting for acceptance</p>
            {% elseif message.status == 1 %}
                <p class="text-primary">Message has been accepted</p>
            {% else %}
                <p class="text-danger">Message has been rejected</p>
            {% endif %}
            </div>
        {% endif %}

    </div>
</div>