{% extends "::base.html.twig" %}

{% block title %}ChatBundle:Message:index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="text-left">Logged as: {{ user.nick }}</span>
                    <span class="text-right pull-right">
                        <a href="{{ path('user_logout') }}">Logout</a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="messages-container" class="container">
                        {% for message in messages %}
                            {% include '@Chat/Message/_message.html.twig' with
                                {
                                    'messsage': message,
                                    'isModerator': isModerator,
                                    'user': user
                                } %}
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="message-content" type="text" class="form-control" />
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="saveMessage();">Send</button>
                              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

