{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Login to Chat</h1>
                <div class="account-wall">
                        {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
                        {{ form_row(form.nick, {'attr': {'class': 'form-control'}}) }}
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
